<h1>Breaking Out</h1>
<p>If there's no way... make one!</p>

<div id="login">
</div>

<div id="intro">
</div>

<div id="game">
</div>

<div id="result">
  <%# render modal %>
</div>

<div id="options">
  <%= render "pages/options" %>
</div>